.wrap {
    margin: 2rem 3rem;


}

.links-wrap {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 5rem;
    top: 1.5rem;

}

.links-wrap li {
    padding: 1.5rem;

}

.links-wrap a:hover {
    display: inline-block;
    transform: scale(1.1);
    transition: all ease-in 150ms;
}

.links-wrap a:active {}


.content {
    margin-left: 9.37rem;
    /* background-color: green */
}

h1 {
    font-size: 2.5rem;
}

.code-wrap {
    display: flex;
    width: 450px;
    padding-left: 1.5rem;
    margin-top: 2.4rem;

}

.desktop-margin {
    padding: 4rem;
}

.extended {
    width: auto;
    text-align: start;
}

@media screen and (max-width:1200px) {
    .desktop-margin {
        display: none;
    }
}

.Cards {
    transition: all ease-in 600ms;
}